# Unity generated
Temp/
[Oo]bj/
Build
Library/
sysinfo.txt
*.stackdump
*/Temp/
*/[Oo]bj/
*/Build
*/Library/
*/sysinfo.txt
*/*.stackdump
badasher/[Tt]emp/
badasher/[Oo]bj/
badasher/[Bb]uild
badasher/[Ll]ibrary/
badasher/sysinfo.txt
badasher/*.stackdump

# Visual Studio generated
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

# OS generated
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# Mac stuff
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

