# Unity generated
badasher/[Tt]emp/
badasher/[Oo]bj/
badasher/[Bb]uild
badasher/[Ll]ibrary/
badasher/sysinfo.txt
badasher/*.stackdump
badasher/Temp/
badasher/Obj/
badasher/Build
badasher/Library/*
badasher/sysinfo.txt
badasher/*.stackdump
badasher/badasher_Data/output_log.txt
Temp/
Obj/
Build
Library/
[.]*/Library/*
sysinfo.txt
*.stackdump
badasher/badasher.userprefs

# Visual Studio generated
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

# OS generated
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# Mac stuff
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

